JpgImage_1 RCDATA "Photos\\IMG_0684.jpg"
JpgImage_2 RCDATA "Photos\\IMG_0687.jpg"
JpgImage_3 RCDATA "Photos\\IMG_0689.jpg"
JpgImage_4 RCDATA "Photos\\IMG_0692.jpg"
JpgImage_5 RCDATA "Photos\\IMG_0698.jpg"
